
*{ 
    box-sizing: border-box;
    font-family: "Times New Roman";
}

.barra-navegacion {
  
    display: flex;
    flex-direction: row ;
    align-items: center;
    gap: 32px;
    
}
.boton-compra  {
   
    background-color: #FE9A22;
    display: flex;
    justify-content: flex-end;
}

.seccion-rotosfera{
    background-color: lightgrey;
    width: auto;
    border: 5px solid rgb(55, 128, 0);
    padding: 50px;
    margin: 20px; 
    font-family: "Times New Roman";
}

.rotosfera{

    font-family: "Times New Roman";
}

.imagen-rotosfera{ 
    width: 300px;
    height: 400px;

}

.formulario-validador{
    background-color: rgb(48, 102, 201);
    width: auto;
    border: 5px solid rgb(55, 128, 0);
    padding: 50px;
    margin: 20px; 
}